
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --background-content: #1a253b;
    --background-section: #455564;
    --gold-btn: #cbac7c; /* Gold accents */
    --button-bc: gray;
    --all-icons-bc: #4a90e2;
    --text-secondary: #fff; /* Light grey text */
    --body-background: #212936;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }


  /* Animation to slideIn used for h1, icon and paragraph in hero sectio */
@keyframes slideInLeft {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

    /* Animation for button */
@keyframes bounce {
    0% {
        transform: translateY(-15px);
    }
    30% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

    /* Animation for infinite float up & down for icons */
@keyframes floating {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}


/* Styling for hero section  */
.home-page-container {
    /* background-color: #3a4c6e; */
    background: url(/static/images/about-page-img/hero-section-image.jpg) no-repeat center center/cover;
    padding: 4rem 3rem 6rem;
    position: relative;
    width: 100%;
    height: auto;
}
.text-content {
    margin-right: auto;
}
.text-content h1 {
    font-size: clamp(24px, 4vw, 100px);
    color: var(--text-secondary);
    animation: slideInLeft 2s ease 0s forwards;
}
.text-content p {
    margin: 2em 0;
    max-width: 70vw;
    animation: slideInLeft 1s ease 1s forwards;
}
.btn {
    background-color: var(--button-bc);
    padding: .7em 1.25em;
    outline: none;
    border: #fff solid 2px;
    animation: bounce 2s 2s;
    transition: all 1s ease;
}
.btn:hover {
    cursor: pointer;
    background-color: red;
    border: red;
    color: #fff;
}
.all-icons {
    max-width: 700px;
    margin: 6em 0 0;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    /* background-color: var(--all-icons-bc); */
    border-radius: 20px;
    animation: slideInLeft 1s ease 3s forwards;
}
.icon-container {
    animation: floating 3s 4s infinite;
}
.icon-container img {
    width: 50px;
    margin: 0 auto;
}





/* Styling for the About us  */
.liton-blue-bc {
    background-color: var(--body-background);
}
.paragraph {
    color: var(--text-secondary);
}
.about-us {
    padding: 3rem 3rem;
}
.h1-headers {
    width: fit-content;
    margin: 0 auto;
    color: #fff;
    padding: 1rem;
    border-bottom: 3px solid var(--accent-blue);
}
.about-us .about-content {
    border: 3px var(--accent-blue) solid;
    border-radius: 20px;
    margin-top: 1rem;
    padding: 0 1rem 1rem;
    display: flex;
    flex-wrap: wrap-reverse;
}
.about-us .about-content > *{
    margin-top: 1rem;
}
.about-us .about-content .about-text{
    padding-right: 1rem;
    width: 300px;
    flex-grow: 2;
}
.about-text button {
    margin-top: 1rem;
    display: block;
}
.about-text p {
    margin-bottom: 1rem;
}
.about-us .about-content .about-image {
    width: 300px;
    flex-grow: 1;
}





/* Our Advantages with reason boxes Styling */

.reasons-container {
    padding: 3rem 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.reason-box {
    width: 300px;
    height: 300px;
    margin: 1rem;
    padding: 1.5rem;
    border: 1px solid var(--accent-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.reason-box .reason-img {
    width: 50px;
    margin: 0 auto;
}
.reason-box span {
    color: var(--accent-blue);
    font-weight: bold;
    text-align: center;
}
.reason-box .reason-text {
    color: #fff;
    text-align: center;
}



/* Investment plans styling */
.investment-plans {
    padding: 3rem 3rem;
    background: url(/static/images/about-page-img/global.png) no-repeat center center/cover;
    /* background-color: var(--background-section); */
}
.investment-plans h1 {
    color: var(--background-section);
}
.plans-container{
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.plans-container .plans-box {
    width: 300px;
    margin: 0 2rem 2rem;
    border: 1px solid var(--background-navbar);
    border-top: solid 4px var(--background-navbar);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.plans-box .candle-container{
    height: 150px;
    padding: 1rem;
    background-color: #fff;
}
.candle-container .candle-image {
    padding: 1rem;
    height: 100%;
    background: url(/static/images/about-page-img/candles-investment.png);
}
.plan-name {
    color: var(--widget-text-color-dark);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.plans-list * {
    color: #fff;
}
.plans-list {
    padding: 1rem 1rem 2rem;
    background-color: var(--background-navbar);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.rows {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: solid black;
    margin-bottom: 5px;
}
.large-text {
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    font-weight: 800;
    font-style: normal;
}
.percentage .percent span {
    font-size: 16px;
}
.light-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;

}
.bold-text {
    font-size: 20px;
    font-weight: 600;
}
.bold-text span {
    font-size: 16px;
}




/* Where I want to add the market cap  */
.market-cap {
    width: 100%;
    height: 100px;
    background-color: var(--background-navbar);
}




.affiliate-block {
    padding: 3rem 3rem;
    background: url(/static/images/about-page-img/affiliate.png) no-repeat center center/cover;
}
.affiliate-block h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: var(--background-content);
    margin-bottom: 2rem;
}
.affiliate-container {
    display: flex;
    flex-wrap: wrap;
}
.affiliate-container .affiliate-info {
    /* background-color: #fff; */
    color: var(--background-section);
    max-width: 500px;
    padding-top: 10px;
    padding-right: 10px;
    /* display: inline-block; */
    margin: 10px 20px 10px 0px;
}
.affiliate-info p {
    margin-bottom: .5rem;
}
.affiliate-info button {
    margin-top: 1rem;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: var(--accent-blue);
}
.affiliate-box {
    background-color: #fff;
    color: var(--background-section);
    padding: 1rem;
    text-align: center;
    border-radius: 20px;
}

.affiliate-boxs {
    display: flex;
    align-items: center;
    margin: 0 0 10px;
}
.affiliate-boxs .affiliate-icon {
    /* padding: 1rem; */
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.affiliate-boxs .affiliate-text{
    padding: .5rem 1rem .5rem .5rem;
}




@media (max-width: 700px) {
    .home-page-container{
        padding: 3em 3em;
    }
    .all-icons {
        max-width: 434px;
        justify-content: center;
        padding: 1rem 1rem;
    }
    .icon-container {
        margin: 0 10px;
    }
    .icon-container img {
        width: 35px;
    }
}
@media (max-width: 500px) {
    .home-page-container {
        padding: 3rem 2rem;
    }
    .icon-container span {
        font-size: 13px;
    }
}