{% extends "layout.html" %}

{% block Main %}
   <h1>work in progress</h1>
   work in progress
{% endblock %}{% extends "layout.html" %}

{% block styling %}
   <link rel="stylesheet" href="/static/aboutpage.css">
{% endblock %}


{% block Main %}

   <section>
      <div class="hero-section">
         <div class="bitwise-img"><img src="/static/images/About-us-img/company-building.png" alt="bitwise company building"></div>
         <div class="overlay-about">
            <div class="text-content">
               <h1>Let <i>bitwise</i> help you take <br> the next step in your <br> <i>crypto journey</i>.</h1> 
            </div>
         </div>
      </div>
   </section>
   
   <section>
      <div class="bitwisers">
         <!-- <div class="about-bc-img"><img src="/static/images/About-us-img/hero-section.jpg" alt="background image"></div> -->
         <div class="about-container">
            <div class="bitwise-leaders">
               <img src="/static/images/About-us-img/business-leaders-removebg-preview.png" alt="bitwise leaders">
               <div class="leaders-text">
                  <h3>We are bitwisers</h3>
                  <p>bit·wise<small>·er (noun)</small>Definition: <span>An elite professional selected through the industry’s most stringent recruitment process and immersed in our unique culture and technology through a rigorous training program.</span></p>
                  <span>The feedback of satisfied clients is the best recognition of our success. Every recommendation or advertisement of the fund confirms our development.</span>
               </div>
            </div>
            <div class="about-story">
               <h2>" <span>Our Story, Your Confidence.</span> "</h2>
               <p>In 2018, as cryptocurrencies and blockchain technology began reshaping the financial landscape, a small team of traders, analysts, and tech innovators recognized a powerful opportunity. They saw not just a chance to grow wealth but to transform how people approached investing—by making the world of digital assets more transparent, secure, and accessible.</p>
               <p>This vision sparked the creation of Bitwise Global. Starting with just five dedicated members, the team spent countless hours crafting strategies, studying emerging trends, and creating a platform that balanced innovation with security. They believed that with the right tools and guidance, anyone—whether an experienced investor or a curious beginner—could confidently navigate the complexities of modern finance.</p>
               <p>Today, Bitwise Global is proud of how far we’ve come. From humble beginnings to helping clients worldwide, we remain committed to unlocking potential, fostering trust, and empowering every investor to take their next step with confidence.</p>
            </div>
         </div>
      </div>
   </section>


   <section>
      <div class="development">
         <div class="our-mission develment-box">
            <h2>Our Mission</h2>
            <p>The goal of the fund is to develop and become the leaders of the investment market. <br>Our goal is to gradually develop and build up assets. We do not strive for receiving instant revenue, because we realize that in the long term we can achieve much more.</p>
            <!-- <p>Enable long-term success and satisfaction for our clients through our team of passionate Bitwisers collaborating to find and execute innovative solutions that tie directly into our clients' key business strategies</p> -->
         </div>
         <div class="our-development develment-box">
            <h2>Our Development</h2>
            <p>We invest only in the most stable projects and cryptocurrency. The ability to manage risks allows you to receive high returns from any investment<br>
               People are the true value of Bitcoin
               
               The Bitcoin distribution went beyond the bounds of economic laws. Cryptocurrency gives freedom and financial independence.
                </p>
            <!-- <p>Our key success factor is our desire to constantly move forward. We learn on the regular basis, analyzing our achievements and then doing the next step in our development. Years of hard work helps us to create impressive knowledge assets. We developed our own strategies of trading and had great practical experience in risks management</p> -->
         </div>
      </div>
   </section>


   <section>
      <div class="bitwise-stats">
         <h2>Bitwise Stats</h2>
         <div class="stats-container">
            <div class="stats">
               <h3>10</h3>
               <p>Over a decade years of experience</p>
            </div>
            <div class="stats">
               <h3>94%</h3>
               <p>Customer and Investors satisfaction</p>
            </div>
            <div class="stats">
               <h3>6</h3>
               <p>Average tenure of Bitwisers</p>
            </div>
            <div class="stats">
               <h3>100+</h3>
               <p>Global recognised in Europe and other countries</p>
            </div>
         </div>
      </div>
   </section>


   <section>
      <div class="certificate">
         <div class="certificate-text">
            <h2>Official Registration</h2>
            <p>Many years of successful trading activity found its logical confirmation in a legally registered company bitwiseglobal.ltd. We have a certificate that is easy to check on the site. <br><br> The office is located in the UK. But you can conduct investment activity from anywhere in the world thanks to our website. Here you will find a safe and convenient personal account. All transactions are conducted through trusted payment systems. </p>
            <div class="location">
               <div class="location-icon"><img src="/static/images/About-us-img/location-img.png" alt="location icon"></div>
               <div class="place">
                  <span>Address</span>
                  <p>Lord Palmerston-112 Staines Road, Hounslow, England,TW3 3LH</p>
               </div>
            </div>
         </div>
         <div class="certificate-img">
            <img src="/static/images/About-us-img/certificate.png" alt="">
         </div>
      </div>
   </section>
{% endblock %}