{% extends "layout.html" %}

{% block styling %}
   <link rel="stylesheet" href="/static/investment.css">
{% endblock %}


{% block Main %}

   <section>
      <div class="hero-section">
         <div class="bitwise-img"><img src="/static/images/About-us-img/company-building.png" alt="bitwise company building"></div>
         <div class="overlay-about">
            <div class="text-content">
               <h1>Crypto is <i>complicated.</i><br> We make it <i>clear</i>.</h1> 
            </div>
         </div>
      </div>
   </section>

   <section>
      <div class="services">
         <div class="services-container">
            <h1>For Investors</h1>
            <div class="services-content">
               <h2>Our investment plans</h2>
               <p>We created our project for those, who want to earn money, but do not have time for market monitoring. We will do this work for you! Investment plans of the hedge fund allow choosing optimal variant of deposit for each investor.
                  <br><br>
                  Our objective is trading on the world largest exchanges. The basic investment portfolio has already been formed and brings steady income. Our own strategies of risk minimization allow us guarantee high profits for each investor. Join us now!</p>
            </div>
         </div>
         <div class="services-container">
            <h1>For partners</h1>
            <div class="services-content">
               <h2>Affiliate Programme</h2>
               <p>At Bitwise, people come first. In fact, they are everything. Therefore we thought over an advantageous referral program that gives each partner an additional income.
                  <br><br>
                  If you have a website, blog or have an account on social networks, this offer is for you. Open the world of international investment for acquaintances, friends, relatives and colleagues. Bring to us new investors and get 5% from each deposit. You do not need to have a million subscribers or a thousand visitors a day.</p>
            </div>
         </div>
      </div>
   </section>

   <section>
      <div class="investment-plans">
         <h1 class="h1-headers appear-animation">OUR INVESTMENT PLANS</h1>
   
         <div class="plans-container">
   
            <div class="plans-box box-1 appear-animation">
               <div class="candle-container">
                  <div class="candle-image">
                     <span class="plan-name">TRAIL PLAN</span>
                  </div>
               </div>
               <div class="plans-list">
                  <div class="row-1 rows">
                     <div class="percentage">
                        <span class="percent large-text">5 <span>%</span></span>
                     </div>
                     <div class="days">
                        <div class="light-text">AFTER</div>
                        <span class="bold-text">3 DAYS</span>
                     </div>
                  </div>
                  <div class="row-2 rows">
                     <div class="minimum">
                        <div class="light-text">MINIMUN</div>
                        <div class="bold-text">150.00<span>USD</span></div>
                     </div>
                     <div class="maximun">
                        <div class="light-text">MAXIMUN</div>
                        <div class="bold-text">2000.00<span>USD</span></div>
                     </div>
                  </div>
                  <div class="row-3 rows">
                     <div>
                        <div class="deposit-return light-text">DEPOSIT RETURN</div>
                        <div class="no bold-text">NO</div>
                     </div>
                  </div>
               </div>
            </div>
   
            <div class="plans-box box-2 appear-animation">
               <div class="candle-container">
                  <div class="candle-image">
                     <span class="plan-name">STANDARD PLAN</span>
                  </div>
               </div>
               <div class="plans-list">
                  <div class="row-1 rows">
                     <div class="percentage">
                        <span class="percent large-text">7 <span>%</span></span>
                     </div>
                     <div class="days">
                        <div class="light-text">AFTER</div>
                        <span class="bold-text">4 DAYS</span>
                     </div>
                  </div>
                  <div class="row-2 rows">
                     <div class="minimum">
                        <div class="light-text">MINIMUN</div>
                        <div class="bold-text">2000.00<span>USD</span></div>
                     </div>
                     <div class="maximun">
                        <div class="light-text">MAXIMUN</div>
                        <div class="bold-text">5000.00<span>USD</span></div>
                     </div>
                  </div>
                  <div class="row-3 rows">
                     <div>
                        <div class="deposit-return light-text">DEPOSIT RETURN</div>
                        <div class="no bold-text">NO</div>
                     </div>
                  </div>
               </div>
            </div>
   
            <div class="plans-box box-3 appear-animation">
               <div class="candle-container">
                  <div class="candle-image">
                     <span class="plan-name">ADVANCED PLAN</span>
                  </div>
               </div>
               <div class="plans-list">
                  <div class="row-1 rows">
                     <div class="percentage">
                        <span class="percent large-text">9 <span>%</span></span>
                     </div>
                     <div class="days">
                        <div class="light-text">AFTER</div>
                        <span class="bold-text">5 DAYS</span>
                     </div>
                  </div>
                  <div class="row-2 rows">
                     <div class="minimum">
                        <div class="light-text">MINIMUN</div>
                        <div class="bold-text">5000.00<span>USD</span></div>
                     </div>
                     <div class="maximun">
                        <div class="light-text">MAXIMUN</div>
                        <div class="bold-text">14000.00<span>USD</span></div>
                     </div>
                  </div>
                  <div class="row-3 rows">
                     <div>
                        <div class="deposit-return light-text">DEPOSIT RETURN</div>
                        <div class="no bold-text">NO</div>
                     </div>
                  </div>
               </div>
            </div>
   
            <div class="plans-box box-4 appear-animation">
               <div class="candle-container">
                  <div class="candle-image">
                     <span class="plan-name">PREMIUN PLAN</span>
                  </div>
               </div>
               <div class="plans-list">
                  <div class="row-1 rows">
                     <div class="percentage">
                        <span class="percent large-text">15 <span>%</span></span>
                     </div>
                     <div class="days">
                        <div class="light-text">AFTER</div>
                        <span class="bold-text">4 DAYS</span>
                     </div>
                  </div>
                  <div class="row-2 rows">
                     <div class="minimum">
                        <div class="light-text">MINIMUN</div>
                        <div class="bold-text">14000.00<span>USD</span></div>
                     </div>
                     <div class="maximun">
                        <div class="light-text">MAXIMUN</div>
                        <div class="bold-text">21000.00<span>USD</span></div>
                     </div>
                  </div>
                  <div class="row-3 rows">
                     <div>
                        <div class="deposit-return light-text">DEPOSIT RETURN</div>
                        <div class="no bold-text">NO</div>
                     </div>
                  </div>
               </div>
            </div>
   
            <div class="plans-box box-5 appear-animation">
               <div class="candle-container">
                  <div class="candle-image">
                     <span class="plan-name">SHAREHOLDER PLAN</span>
                  </div>
               </div>
               <div class="plans-list">
                  <div class="row-1 rows">
                     <div class="percentage">
                        <span class="percent large-text">25 <span>%</span></span>
                     </div>
                     <div class="days">
                        <div class="light-text">AFTER</div>
                        <span class="bold-text">3 DAYS</span>
                     </div>
                  </div>
                  <div class="row-2 rows">
                     <div class="minimum">
                        <div class="light-text">MINIMUN</div>
                        <div class="bold-text">25000.00<span>USD</span></div>
                     </div>
                     <div class="maximun">
                        <div class="light-text">MAXIMUN</div>
                        <div class="bold-text">40000.00<span>USD</span></div>
                     </div>
                  </div>
                  <div class="row-3 rows">
                     <div>
                        <div class="deposit-return light-text">DEPOSIT RETURN</div>
                        <div class="no bold-text">NO</div>
                     </div>
                  </div>
               </div>
            </div>
   
            <div class="plans-box box-6 appear-animation">
               <div class="candle-container">
                  <div class="candle-image">
                     <span class="plan-name">REAL INVESTORS</span>
                  </div>
               </div>
               <div class="plans-list">
                  <div class="row-1 rows">
                     <div class="percentage">
                        <span class="percent large-text">5 <span>%</span></span>
                     </div>
                     <div class="days">
                        <div class="light-text">AFTER</div>
                        <span class="bold-text">7 DAYS</span>
                     </div>
                  </div>
                  <div class="row-2 rows">
                     <div class="minimum">
                        <div class="light-text">MINIMUN</div>
                        <div class="bold-text">30000.00<span>USD</span></div>
                     </div>
                     <div class="maximun">
                        <div class="light-text">MAXIMUN</div>
                        <div class="bold-text">UNLIMITED</div>
                     </div>
                  </div>
                  <div class="row-3 rows">
                     <div>
                        <div class="deposit-return light-text">DEPOSIT RETURN</div>
                        <div class="no bold-text">NO</div>
                     </div>
                  </div>
               </div>
            </div>
   
         </div>
   
      </div>
   </section>



{% endblock %}