<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/registration.css">
</head>
<body>
    <main>
        <div id="form-div">
            <form action="#">
                <div class="input-div">
                    <label for="Username"><span class="label">Name: </span></label><div></div><input type="text" id="Username" class="enter-text">
                </div>
                <div class="input-div">
                    <label for="Email"><span class="label">Email: </span></label><input type="email" id="Email" class="enter-text">
                </div>
                <div class="input-div">
                    <label for="Password"><span class="label">Password: </span></label><input type="password" id="Password" class="enter-text">
                </div>
                <div class="input-div">
                    <label for="Confirm-password"><span class="label">Confirm: </span></label><input type="password" id="Confirm-password" class="enter-text">
                </div>
                <div class="buttons-div">
                    <button type="submit" id="signup-btn" class="buttons">Sign Up</button>
                </div>
                <p>Already have an account? <a href="/loginpage">login</a></p>
            </form>
        </div>
    </main>
</body>
</html>